html {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1;
  font-size: 1.6rem;
  background-color: #ffcb74;
}

.container {
  height: 40rem;
  width: 35rem;
  background: #b1b493;
  box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.75);
  transform: translateY(8rem);
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: #4f8a8b;
  text-transform: uppercase;
  align-self: center;
}

h2 {
  font-size: 15rem;
  color: #a8df65;
  margin: 1rem;
  align-self: center;
}

button {
  align-self: center;
  height: 5rem;
  width: 20rem;
  background: #ff9595;
  border-radius: 20px;
  color: #ffffff;
  border: solid #f54291 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
  outline: 0rem;
}

button:hover,
button:focus {
  background: #f54291;
  border: solid #f54291 1px;
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.9rem;
  outline: 0rem;
}
