html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i,
ul,
li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #FFFFFF;
  --bg-2-color: #32e0c4;
  --bg-3-color: #2fc4b2;
  --ligher-text: #393e46;
  --darker-text: #222831;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--darker-text);
  margin-top: 3rem;
  letter-spacing: 0.5rem;
}

.flex-container {
  margin: 0 auto;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button {
  height: 5rem;
  width: 17rem;
  background-image: linear-gradient(135deg, var(--bg-2-color) 0 40%, var(--bg-3-color) 40% 60%, var(--bg-2-color) 60%);
  border: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 1rem;
  margin: 2rem 2rem;
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(135deg, var(--bg-2-color) 0 15%, var(--bg-3-color) 15% 85%, var(--bg-2-color) 85%);
  outline: none;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.search {
  display: block;
  position: relative;
  margin: 1rem auto;
  height: 5rem;
  width: 30rem;
  color: var(--ligher-text);
}

.search .visuallyhidden {
  display: none;
}

.search form[role=search] {
  height: 5rem;
  width: 30rem;
}

.search form[role=search]:hover,
.search form[role=search]:focus {
  outline: none;
}

.search input[type=search] {
  height: 5rem;
  width: 30rem;
  border: none;
  color: var(--ligher-text);
  font-size: 2rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 2.5rem;
  border-bottom: 1px var(--bg-2-color) solid;
  -webkit-appearance: none;
}

.search input[type=search]:hover,
.search input[type=search]:focus {
  outline: none;
  -webkit-appearance: none;
}

.search .search-icon {
  position: absolute;
  top: 25%;
  z-index: 1;
  color: gray;
  font-size: 2rem;
}

.grid-container {
  width: 80%;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
  row-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 15.6rem;
  height: 15.6rem;
}

.item-name,
.item-price {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.modal-card {
  position: fixed;
  z-index: 9999;
  left: 50%;
  -webkit-transform: translateX(-21rem);
          transform: translateX(-21rem);
  top: 10%;
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: black solid 1px;
  padding: 3rem;
}

.modal-card img {
  border-radius: 2rem;
  height: 40rem;
  width: 40rem;
}

.modal-card .prev,
.modal-card .next,
.modal-card .close {
  position: absolute;
  top: 42%;
  width: auto;
  padding: 1.6rem;
  background-color: var(--bg-2-color);
  color: var(--ligher-text);
  font-size: large;
  border-radius: 50%;
}

.modal-card .next {
  right: 1rem;
}

.modal-card .prev {
  left: 1rem;
}

.modal-card .close {
  right: -2rem;
  top: -2rem;
  width: 5rem;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px black solid;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 56.25rem) {
  .grid-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media only screen and (max-width: 32rem) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}
/*# sourceMappingURL=style.css.map */