/** @format */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  color: #333333;

  span {
    color: #3282b8;
    text-transform: uppercase;
    font-style: italic;
  }
}

.main-div {
  width: 80%;
  display: flex;
  width: fit-content;
  padding-top: 3rem;
  flex-direction: column;
  text-align: center;
}

img {
  margin: auto;
  border-radius: 10px;
}
