html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.4rem;
    background-color: #d3c0ff;
}


h1 {
    font-size: 3rem;
    color: #0a97b0;

    span {
        color: #ff9c71;
        text-transform: uppercase;
        text-decoration: line-through;
    }
}

.main-div {
    display: flex;
    width: fit-content;
    margin: auto;
    padding-top: 3rem;
    flex-direction: column;
    text-align: center;

}

img {
    margin: auto;
    border-radius: 10px;

}