/** @format */

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

html,
body {
  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

//HEADER

h1 {
  font-size: 4rem;
  padding: 2rem;
  color: #ffffff;
  text-align: center;
  font-family: 'Black Ops One', cursive;
}

//BACKGROUNDS

.isolate {
  z-index: -1;
  isolation: isolate;
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100vh;
  mix-blend-mode: soft-light;
  position: absolute;
}

.bg1 {
  background-image: url(../17_random_qoutes/images/bg1.jpeg);
  background-size: cover;
  filter: saturate(0%);
}

.bg2 {
  background-image: url(../17_random_qoutes/images/bg2.jpeg);
  background-size: cover;
  filter: blur(2px) contrast(120%);
}

//BOX WITH CONTENT

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  min-width: 20rem;
  min-height: 20rem;
  width: 30vw;
  height: fit-content;
  border: solid 2px #ffffff;

  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #faeee735;
}

.btn {
  width: 10rem;
  height: 4rem;
  background-color: #ffffff;
  font-size: 1rem;
  border: #ffffff;
  border-radius: 10px;
  align-self: center;
  margin-top: 1rem;
}

.quote {
  margin: 2rem 2rem 0rem 2rem;
  color: #ffffff;
  font-style: italic;
}

.author {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 3.5rem;
  }
}
