/**
 * /* PRESETS
 *
 * @format
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*BODY*/

body {
  background-repeat: no-repeat;
  background: url('./bg.png');
  background-attachment: fixed;
}

/*SEARCH FORM*/

h1 {
  color: white;
  font-size: 5rem;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.search-form {
  width: 40rem;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    height: 5rem;
    width: 35rem;
    margin: auto;
    border: none;
  }

  :placeholder-shown {
    text-align: center;
  }
}

.suggestions {
  li {
    list-style: none;
    height: 5rem;
    width: 35rem;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(203, 203, 203, 1) 100%
    );

    margin: auto;
    line-height: 5rem;
  }
}

.hl {
  background: #ee9595;
}
