html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    background-color: #99b898;
    font-family: 'Space Mono', monospace;
}

h1 {
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 30rem;
    width: 40rem;
    border-radius: 10px;
    background-color: #feceab;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    transform: translateY(10rem)
}

.input {
    width: 30rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 10px;
    margin: auto;
    font-size: larger;
}

.button {
    width: 12rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 10px;
    margin: auto;
    background-color: #99b898;
    font-size: larger;
    margin-top: 1rem;
}

#values {
    color: #e84a5f;
    text-transform: uppercase;
}