/** @format */

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: #363434;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --text-color: #222831;
  --text-light: #7d7a7a;
}

//header
//HEADER

h1 {
  font-size: 5rem;
  color: #f7f8f8;
  text-align: center;
  letter-spacing: 1.5rem;
  margin-bottom: 2rem;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  margin-top: 5%;

  font-family: 'Bungee', cursive;
  color: #d9d9d9;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
}

//Grid style

.grid-container {
  transform: translateY(30%);
  margin: 0 auto;
  width: 40rem;
  height: 54rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  background: linear-gradient(
    20deg,
    rgba(221, 214, 243, 1) 0%,
    rgba(250, 172, 168, 1) 100%
  );
  padding: 2.5rem;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.75);
  word-wrap: break-word;
  word-break: break-all;
}

//Display style

.display {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.span-2 {
  grid-column: span 2;
}

.display {
  height: 7rem;
  width: 34rem;
  text-align: right;
  background: #fff0f5;
  border: none;
  padding: 1rem;
}

.history-value {
  color: var(--text-light);
  font-size: 1.5rem;
}

.result-value {
  color: var(--text-color);
  font-size: 2.5rem;
}

//Buttons style

button {
  height: 6rem;
  width: 6rem;
  border: none;
  color: var(--text-color);
  font-size: 2.5rem;
  cursor: pointer;
  box-shadow: inset -5px -5px 10px -5px rgba(0, 0, 0, 0.3);
}

button:hover,
button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -5px rgba(0, 0, 0, 0.3);
}

.number {
  background: #f6acc8;
}

.operator {
  background: #af8baf;
}

.result {
  background: #21bf73;
  width: 15rem;
}

.all-clear {
  background: #95389e;
}

.delete {
  background: #f5f4f3;
  width: 15rem;
}
